body {
    // background: url('../../source/img/avatar.jpg') no-repeat center top;
    background: #fff;
    #content {
        padding: 100px 300px;
    }
    .ms-controller {
        visibility: hidden
    }
}