body {
  background: #666;
  color: #f7fbfc;
}

h2 {
  font-size: 30px !important;
}

.slides section{


  height: 100%;

}

.reveal .progress span{
  background: #1b91ff;
}
.slides>section:nth-child(1){
  background: #1b91ff;
}
.slides>section:nth-child(2){
   background: #9ED99D;
 }
